@font-face {
    font-family: pixelify;
    src: url(Asset/PixelifySans-VariableFont_wght.ttf);

}

:root {
    --font-dasar: "pixelify";
    --background-color: rgb(245, 245, 245);
    --background-color2: rgb(122, 191, 205);
    --border-estetik: 1px rgb(54, 54, 54) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(214, 214, 214);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: var(--background-color2);
    overflow: hidden;
}

.hilang {
    opacity: 0 !important;
}

.smooth {
    transition: all 1s ease;
}

.hamburger {
    position: absolute;
    right: 2.5rem;
    top: 2.3rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    color: var(--warna-button);
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;

}

.hamburger:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.hamburger:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 2px;
    background-color: var(--warna-hamburger);
}

.hamburger:hover span {
    background-color: #edefef;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* logo */
.logo {
    width: 225px;
    height: 75px;
}

.logo img {
    width: 225px;
    height: 75px;
    transition: all 0.5s ease;
}

.logo img:hover {
    transform: translateY(-4px);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.28);

}

/* text */
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: var(--warna-hitam-dasar);
    background-color: var(--background-color2);
    transition: all 0.5s ease;
    user-select: none;
    -webkit-user-drag: none;
    animation: loop 2s ease-in-out infinite alternate;
}

.text p {
    transition: all 0.5s ease;
}

.text p:hover {
    scale: 1.2;
}

@keyframes loop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#hitung {
    color: var(--warna-hitung);
}

/* portal */
.portal {
    position: absolute;
    width: 478px;
    height: 478px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    translate: -15px;
    transition: all 1s ease;
}

#portal {
    animation: sinar 2s ease-in-out infinite alternate;
}

.windah-animasi {
    position: absolute;
    width: 100px;
    height: 100px;
    inset: 0;
    margin: auto;
    z-index: 5;
    translate: 0px;
    animation: lempar 4s ease-in-out forwards;
}

@keyframes sinar {
    0% {
        filter: brightness(2);
        transform: translateY(0) rotate(180deg);
    }

    50% {
        filter: brightness(3);
        nsform: translateY(10px) rotate(180deg);
    }

    100% {
        filter: brightness(2);
        transform: translateY(0) rotate(180deg);
    }
}

@keyframes lempar {
    0% {
        transform: translate(-1000px) scale(0) rotate(1080deg) skew(30deg);
        filter: blur(20px) brightness(2);
        opacity: 0;
    }

    60% {
        transform: translate(100px) scale(0.6) rotate(10deg) skew(10deg);
        filter: blur(2px) brightness(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg) skew(0deg);
        filter: blur(0px) brightness(1);
        opacity: 1;
    } 
}

/* selesai */
.selesai {
    display: none;
    position: absolute;
    width: 25vw;
    height: 70vh;
    inset: 0;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: red;
    z-index: 1;
}

.tombol {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 2rem;
    left: 0rem;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: none;
    z-index: 999;
}

.home,
.try {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: yellow;
}

/* game */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    background-color: var(--background-color2);
}

.mode-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    width: max-content;
    height: max-content;
}

.panah {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    top: -4.3rem;
    left: 5.5rem;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--warna-hitam-dasar);
    z-index: 999;
    transition: all 2s ease-in-out;
}

.btn-mode {
    max-width: max-content;
    max-height: max-content;
    padding: .1rem .5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--background-color);
    background-color: rgb(226, 107, 107);
    border-left: 3px solid rgb(246, 132, 132);
    border-top: 3px solid rgb(246, 132, 132);
    border-right: 3px solid rgb(102, 51, 51);
    border-bottom: 3px solid rgb(102, 51, 51);
    cursor: pointer;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.btn-mode:hover {
    transform: translateY(-2px);
    color: var(--background-color);
    background-color: rgb(226, 107, 107);
    border-left: 3px solid rgb(246, 132, 132);
    border-top: 3px solid rgb(246, 132, 132);
    border-right: 3px solid rgb(102, 51, 51);
    border-bottom: 3px solid rgb(102, 51, 51);
}

.btn-mode:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(102, 51, 51);
    border-top: 3px solid rgb(102, 51, 51);
    border-right: 3px solid rgb(246, 132, 132);
    border-bottom: 3px solid rgb(246, 132, 132);
}

.aktif {
    animation: blink2 .5s ease infinite alternate;
}

.pasif {
    color: gray;
    border-left: 3px solid rgb(214, 219, 221);
    border-top: 3px solid rgb(214, 219, 221);
    border-right: 3px solid rgb(91, 91, 91);
    border-bottom: 3px solid rgb(91, 91, 91);
    background-color: rgb(176, 181, 183);
}

/* blink 2 */
@keyframes blink2 {
    from {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
    }

    to {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
    }
}

.leaderboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    width: 15rem;
    height: max-content;
    padding: 4px;
    text-align: center;
    border: var(--border-estetik);
    border-width: 2px;
    border-radius: .5rem;
    background-color: rgb(86, 134, 144);
}

.container-isi {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15rem;
    border: 2px solid var(--warna-hitam-dasar);
}

.container-isi::-webkit-scrollbar {
    width: 2px;
    height: 7px;
    background: none;
}

.container-isi::-webkit-scrollbar-track {
    background-color: var(--warna-hitam-dasar);
}

.container-isi::-webkit-scrollbar-corner {
    display: none;
}

.container-isi::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background: rgb(179, 179, 179);
    background-clip: content-box;
}

.container-isi::after {
    content: '';
    position: absolute;
    top: 3.80em;
    left: .25rem;
    width: 96%;
    height: 78.8%;
    pointer-events: none;
    box-shadow:
        inset 0 25px 20px -20px rgba(0, 0, 0, 0.52),
        inset 0 -25px 20px -20px rgba(0, 0, 0, 0.52);
}

.leaderboard h1 {
    padding: .6rem;
    color: var(--warna-hitam-dasar);
}

.isi-leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 3rem;
    border-right: none;
    border-bottom: 2px solid var(--warna-hitam-dasar);
    background-color: rgb(160, 190, 196);
    overflow: hidden;
}

.isi-leaderboard h4 {
    font-weight: lighter;
    color: var(--warna-hitam-dasar);
}

#akhir {
    border-bottom: none;
}

.windah {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
    z-index: 999;
}

.windah:hover {
    scale: 1.2;
}

.windah:active {
    transform: scale(0.7);
}

.game p {
    display: none;
    position: absolute;
    bottom: 2em;
    color: var(--warna-hitung);
    transition: all 0.5s ease;
    animation: none;
}

.game p:hover {
    scale: 1.2;
}

@keyframes bling {
    0% {
        color: var(--warna-hitung);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        color: red;
        transform: scale(1);
    }
}

/* responsif */
@media(max-width: 500px) {}