@font-face {
    font-family: pixelify;
    src: url(PixelifySans-VariableFont_wght.ttf);
}

:root {
    --font-dasar: "pixelify";
    --background-color: rgb(245, 245, 245);
    --background-color2: rgb(122, 191, 205);
    --border-estetik: 1px rgb(54, 54, 54) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(54, 54, 54);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: none;
    image-rendering: optimizeSpeed;
}

html {
    background-color: black;
}

body {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: rgb(78, 123, 132);

    /* pola bulat */
    background-image: radial-gradient(rgba(255, 0, 0, 0) 2px, transparent);
    background-size: 30px 30px;
    background-position: -5px -5px;

    /* pola kotak */
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);

    box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.75) inset;
}

/* container */
.container {
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 0;
    overflow: hidden;
}

.hilang {
    opacity: 0 !important;
    pointer-events: none;
}

.smooth {
    transition: all 1s ease;
}

/* info */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    translate: 50px 40px;
    width: 35px;
    height: 32px;
    padding: 1px;
    color: var(--warna-button);
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.info img {
    width: 24px;
    height: 24px;
}

.info:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.info:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.info:hover img {
    filter: brightness(1000%);
}

/* hamburger */
.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    translate: -50px 40px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    color: var(--warna-button);
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.hamburger:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.hamburger:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 2px;
    background-color: var(--warna-hamburger);
}

.hamburger:hover span {
    background-color: #edefef;
}

/* pause */
.pause {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    padding: 1px 2px;
    translate: -50px 40px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.pause:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.pause:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.pause span {
    display: block;
    width: 7px;
    height: 19px;
    margin: 2px;
    background-color: var(--warna-hamburger);
}

.pause:hover span {
    background-color: #edefef;
}

/* pause menu */
.pause-menu {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 500px;
    height: 250px;
    text-align: center;
    background-color: rgba(104, 161, 173, 0.66);
    backdrop-filter: blur(10px);
    transition: all .6s ease;
    z-index: 1003;
}

#pause-h1 {
    width: 100%;
    color: var(--warna-hitam-dasar);
    background-color: rgba(86, 135, 145, 0.644);
}

.container-pause-el {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: auto;
}

.pause-menu img {
    width: 50px;
    height: 50px;
}

.home {
    padding: 5px 5px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.home:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.home:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.home:hover img {
    filter: brightness(1000%);
}

.play {
    padding: 5px 5px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.play:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.play:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.play:hover img {
    filter: brightness(1000%);
}

.retry {
    padding: 5px 5px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
}

.retry:hover {
    transform: translateY(-2px);
    color: #edefef;
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(142, 198, 211);
    border-top: 3px solid rgb(142, 198, 211);
    border-right: 3px solid rgb(59, 106, 116);
    border-bottom: 3px solid rgb(59, 106, 116);
}

.retry:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(59, 106, 116);
    border-top: 3px solid rgb(59, 106, 116);
    border-right: 3px solid rgb(142, 198, 211);
    border-bottom: 3px solid rgb(142, 198, 211);
}

.retry:hover img {
    filter: brightness(1000%);
}

/* pause wall */
.pause-wall {
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: rgba(104, 161, 173, 0);
    backdrop-filter: blur(10px);
    transition: all .6s ease;
    z-index: 1001;
}

/* trail */
.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 1005;
    pointer-events: none;
    opacity: 0.5;
    will-change: transform, opacity;
}

/* trail windah */
.trail-windah {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    z-index: 1;
    pointer-events: none;
    opacity: 0.3;
    scale: 0.8;
    filter: brightness(1000%);
    transition: all .2s ease-in-out;
    will-change: transform, opacity;
}

/* logo */
.logo {
    width: 225px;
    height: 75px;
}

.logo img {
    width: 225px;
    height: 75px;
    transition: all 0.5s ease;
}

.logo img:hover {
    transform: translateY(-4px);
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.28);

}

/* text */
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    color: var(--warna-hitam-dasar);
    transition: all 0.5s ease;
    user-select: none;
    -webkit-user-drag: none;
    animation: loop 2s ease-in-out infinite alternate;
}

.text p {
    transition: all 0.5s ease;
}

.text p:hover {
    scale: 1.2;
}

@keyframes loop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#hitung {
    color: var(--warna-hitung);
}

/* portal */
.portal {
    position: absolute;
    width: 478px;
    height: 478px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    translate: -15px;
    transition: all 1s ease;
}

#portal {
    width: 478px;
    height: 478px;
    animation: sinar 2s ease-in-out infinite alternate;
    will-change: opacity;
}

.windah-animasi {
    position: absolute;
    width: 100px;
    height: 100px;
    inset: 0;
    margin: auto;
    z-index: 1000;
    translate: 0px;
    animation: lempar 4s ease-in-out forwards;
    will-change: transform, opacity;
}

.windah-animasi img {
    width: 100px;
    height: 100px;
}

@keyframes sinar {
    0% {
        filter: brightness(1).5;
        transform: translateY(0) rotate(180deg);
    }

    50% {
        filter: brightness(2);
        nsform: translateY(10px) rotate(180deg);
    }

    100% {
        filter: brightness(1.5);
        transform: translateY(0) rotate(180deg);
    }
}

@keyframes lempar {
    0% {
        transform: translate(-1000px) scale(0) rotate(1080deg) skew(30deg);
        filter: blur(20px) brightness(2);
        opacity: 0;
    }

    60% {
        transform: translate(100px) scale(0.6) rotate(10deg) skew(10deg);
        filter: blur(2px) brightness(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(0) scale(1) rotate(0deg) skew(0deg);
        filter: blur(0px) brightness(1);
        opacity: 1;
    }
}

/* bar */
.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 30px;
    width: 70%;
    max-width: 500px;
    min-width: 200px;
    height: auto;
    margin: auto;
    overflow: hidden;
    z-index: 1;
}

#bar-outline {
    width: 100%;
    height: auto;
    margin: auto;
}

.bar-status {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: center;
    color: var(--warna-hitam-dasar);
    font-size: 13px;
    font-weight: bold;
}

.bar-inner {
    position: absolute;
    inset: 0;
    margin: auto;
    translate: -100%;
    transform: translateY(-2px);
    height: 12px;
    transition: all 2s ease;
    z-index: -999;
    will-change: transform;
}

.bar-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 34px;
    margin: auto;
    width: 492px;
    height: 12px;
    background-color: rgba(255, 222, 35, 0.39);
    box-shadow: none;
    z-index: 0;
    transition: all .5s ease-in-out;
    will-change: box-shadow;
}

/* bar kecil */
.bar-kecil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    translate: 0 30px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.bar-status-kecil {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 20px;
    text-align: center;
    color: var(--warna-hitam-dasar);
    font-size: 13px;
    font-weight: bold;
}

.bar-inner-kecil {
    position: absolute;
    inset: 0;
    margin: auto;
    translate: -100%;
    transform: translateY(-2px);
    height: 12px;
    transition: all 2s ease;
    z-index: -999;
    will-change: transform;
}

.bar-shadow-kecil {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    translate: 0 34px;
    margin: auto;
    width: 192px;
    height: 12px;
    background-color: rgba(255, 222, 35, 0.39);
    box-shadow: none;
    z-index: -999;
    transition: all .5s ease-in-out;
    will-change: box-shadow;
}

@keyframes blink {
    from {
        box-shadow: 0px 0px 41px 0px rgba(255, 215, 0, 0.76);
        -webkit-box-shadow: 0px 0px 41px 0px rgba(255, 215, 0, 0.76);
        -moz-box-shadow: 0px 0px 41px 0px rgba(255, 215, 0, 0.76);
    }

    to {
        box-shadow: none;
    }
}

@keyframes getar-tipis {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }

    10% {
        transform: translate(-0.5px, -0.5px) rotate(-0.1deg);
    }

    20% {
        transform: translate(-0.8px, 0px) rotate(0.1deg);
    }

    30% {
        transform: translate(0.8px, 0.5px) rotate(0deg);
    }

    40% {
        transform: translate(0.5px, -0.5px) rotate(0.1deg);
    }

    50% {
        transform: translate(-0.5px, 0.8px) rotate(-0.1deg);
    }

    60% {
        transform: translate(-0.8px, 0.3px) rotate(0deg);
    }

    70% {
        transform: translate(0.8px, 0.3px) rotate(-0.1deg);
    }

    80% {
        transform: translate(-0.5px, -0.5px) rotate(0.1deg);
    }

    90% {
        transform: translate(0.5px, 0.8px) rotate(0deg);
    }

    100% {
        transform: translate(0.5px, -0.5px) rotate(-0.1deg);
    }
}

/* mode */
.mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    width: max-content;
    height: max-content;
}

.btn-mode1 {
    max-width: max-content;
    max-height: max-content;
    padding: .1rem .5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--background-color);
    background-color: rgb(94, 168, 185);
    border-left: 3px solid rgb(137, 210, 227);
    border-top: 3px solid rgb(137, 210, 227);
    border-right: 3px solid rgb(61, 123, 137);
    border-bottom: 3px solid rgb(61, 123, 137);
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
    will-change: box-shadow;
}

.btn-mode1:hover {
    transform: translateY(-2px);
    filter: brightness(0.9);
}

.btn-mode1:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(61, 123, 137);
    border-top: 3px solid rgb(61, 123, 137);
    border-right: 3px solid rgb(137, 210, 227);
    border-bottom: 3px solid rgb(137, 210, 227);
}

.btn-mode2 {
    max-width: max-content;
    max-height: max-content;
    padding: .1rem .5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--background-color);
    background-color: rgb(205, 122, 122);
    border-left: 3px solid rgb(229, 145, 145);
    border-top: 3px solid rgb(229, 145, 145);
    border-right: 3px solid rgb(154, 86, 86);
    border-bottom: 3px solid rgb(154, 86, 86);
    outline: 2px solid var(--warna-hitam-dasar);
    transition: all 0.2s ease;
    will-change: box-shadow;
}

.btn-mode2:hover {
    transform: translateY(-2px);
    filter: brightness(0.9);
}

.btn-mode2:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(154, 86, 86);
    border-top: 3px solid rgb(154, 86, 86);
    border-right: 3px solid rgb(229, 145, 145);
    border-bottom: 3px solid rgb(229, 145, 145);
}

.aktif1 {
    animation: blink2 .5s ease infinite alternate;
}

.aktif2 {
    animation: blink2red .5s ease infinite alternate;
}

.pasif {
    color: gray;
    border-left: 3px solid rgb(214, 219, 221);
    border-top: 3px solid rgb(214, 219, 221);
    border-right: 3px solid rgb(91, 91, 91);
    border-bottom: 3px solid rgb(91, 91, 91);
    background-color: rgb(176, 181, 183);
}

.pasif:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(91, 91, 91);
    border-top: 3px solid rgb(91, 91, 91);
    border-right: 3px solid rgb(214, 219, 221);
    border-bottom: 3px solid rgb(214, 219, 221);
}

/* blink 2 */
@keyframes blink2 {
    from {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.702);
    }

    to {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
    }
}

@keyframes blink2red {
    from {
        box-shadow: 0px 0px 200px 79px rgba(122, 205, 205, 0.702);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(122, 205, 205, 0.702);
        -moz-box-shadow: 0px 0px 200px 79px rgba(122, 205, 205, 0.702);
    }

    to {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0);
    }
}

/* game */
.game {
    position: relative;
    height: 84dvh;
    margin-top: 8dvh;
    margin-bottom: 8dvh;
    z-index: -1;
}

/* leaderboard */
.leaderboard {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    width: 15rem;
    height: max-content;
    padding: 4px;
    text-align: center;
    border: var(--border-estetik);
    border-width: 2px;
    border-radius: .5rem;
    background-color: #edefef24;
    backdrop-filter: blur(10px);
}

.container-isi {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15rem;
    border: 2px solid var(--warna-hitam-dasar);
}

.container-isi::-webkit-scrollbar {
    width: 2px;
    height: 7px;
    background: none;
}

.container-isi::-webkit-scrollbar-track {
    background-color: var(--warna-hitam-dasar);
}

.container-isi::-webkit-scrollbar-corner {
    display: none;
}

.container-isi::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    background: rgb(179, 179, 179);
    background-clip: content-box;
}

.container-isi::after {
    content: '';
    position: absolute;
    top: 3.80em;
    left: .25rem;
    width: 96%;
    height: 78.8%;
    pointer-events: none;
    box-shadow:
        inset 0 25px 20px -20px rgba(0, 0, 0, 0.52),
        inset 0 -25px 20px -20px rgba(0, 0, 0, 0.52);
}

.leaderboard h1 {
    padding: .6rem;
    color: var(--warna-hitam-dasar);
}

.isi-leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 3rem;
    border-right: none;
    border-bottom: 2px solid var(--warna-hitam-dasar);
    background-color: rgb(160, 190, 196);
    overflow: hidden;
}

.isi-leaderboard h4 {
    font-weight: lighter;
    color: var(--warna-hitam-dasar);
}

#akhir {
    border-bottom: none;
}

/* live */
.live {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4svh;
    margin: auto;
    color: var(--warna-hitam-dasar);
    z-index: 0;
}

.live-dot {
    width: 15px;
    height: 15px;
    border: 2.5px solid var(--warna-hitam-dasar);
    border-radius: 50%;
    background-color: rgb(39, 201, 77);
    transition: all 2s ease;
    animation: stable .5s ease-in-out infinite alternate;
    will-change: box-shadow;
}

@keyframes stable {
    from {
        filter: brightness(1.5);
        box-shadow:
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1),
            0px 0px 20px .1px rgba(39, 201, 77, 0.1);
    }

    to {
        filter: brightness(1);
        box-shadow:
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2);
    }
}

@keyframes disturbed {
    from {
        filter: brightness(1.5);
        box-shadow:
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1),
            0px 0px 20px .1px rgba(196, 201, 39, 0.1);
    }

    to {
        filter: brightness(1);
        box-shadow:
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2);
    }
}

@keyframes unstable {
    from {
        filter: brightness(1.5);
        box-shadow:
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1),
            0px 0px 20px .1px rgba(201, 144, 39, 0.1);
    }

    to {
        filter: brightness(1);
        box-shadow:
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2);
    }
}

@keyframes critical {
    from {
        filter: brightness(1.5);
        box-shadow:
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1),
            0px 0px 20px .1px rgba(201, 39, 39, 0.1);
    }

    to {
        filter: brightness(1);
        box-shadow:
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2);
    }
}

@keyframes collapsing {
    from {
        filter: brightness(1.5);
        box-shadow:
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1),
            0px 0px 20px .1px rgba(158, 39, 201, 0.1);
    }

    to {
        filter: brightness(1);
        box-shadow:
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2),
            0px 0px 0px 0px rgba(39, 201, 77, 0.2);
    }
}

/* windah */
.windah {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
    user-select: none;
    z-index: 999;
    will-change: transform, opacity, box-shadow;
}

.windah:hover {
    scale: 1.2;
}

.windah:active {
    transform: scale(0.9);
}

.game p {
    display: none;
    position: absolute;
    bottom: 2em;
    color: var(--warna-hitung);
    transition: all 0.5s ease;
    animation: none;
}

.game p:hover {
    scale: 1.2;
}

@keyframes bling {
    0% {
        color: var(--warna-hitung);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        color: red;
        transform: scale(1);
    }
}

/* responsif */

/* > 1024 */
@media(width > 1024px) {
    .bar-kecil {
        display: none;
    }

    .bar-shadow-kecil {
        display: none;
    }
}

/* 768px <= width <= 1024px */
@media(768px <=width <=1024px) {
    .bar-kecil {
        display: none;
    }

    .bar-shadow-kecil {
        display: none;
    }
}

/* 550px <= width <= 768px */
@media(550px <=width <=768px) {

    /* pause menu */
    .pause-menu {
        width: 450px;
    }

    .container-pause-el {
        width: 90%;
    }

    /* bar */
    .bar {
        display: none;
    }

    .bar-status {
        position: absolute;
        inset: 0;
        margin: auto;
        translate: 0 -1px;
        width: 100%;
        height: 20px;
        text-align: center;
        color: var(--warna-hitam-dasar);
        font-size: 14px;
        font-weight: bold;
    }

    .bar-shadow {
        display: none;
    }

    .bar-kecil {
        display: block;
    }

    .windah:hover {
        scale: 1;
    }
}

/* 425px <= width < 550px */
@media(425px <=width < 550px) {
    body {
        box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -webkit-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -moz-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
    }

    /* info */
    .info {
        translate: 20px 45px;
        width: 25.97px;
        height: 25.97px;
    }

    .info img {
        width: 19.48px;
        height: 19.48px;
    }

    /* hambuger */
    .hamburger {
        translate: -20px 45px;
        padding: .1px;
    }

    .hamburger span {
        display: block;
        width: 16.6px;
        height: 1.6px;
        margin: 1.6px;
        background-color: var(--warna-hamburger);
    }

    /* pause */
    .pause {
        padding: 1px 2px;
        translate: -20px 25px;
    }

    .pause span {
        display: block;
        width: 4.5px;
        height: 13px;
        margin: 2px;
        background-color: var(--warna-hamburger);
    }

    /* pause menu */
    .pause-menu {
        width: 350px;
    }

    .container-pause-el {
        width: 90%;
    }

    /* bar */
    .bar {
        display: none;
    }

    .bar-status {
        position: absolute;
        inset: 0;
        margin: auto;
        translate: 0 -1px;
        width: 100%;
        height: 20px;
        text-align: center;
        color: var(--warna-hitam-dasar);
        font-size: 14px;
        font-weight: bold;
    }

    .bar-shadow {
        display: none;
    }

    .bar-kecil {
        display: block;
    }

    /* logo */
    .logo {
        width: 187.5px;
        height: 62.5px;
    }

    .logo img {
        width: 187.5px;
        height: 62.5px;
        transition: all 0.5s ease;
    }

    .text {
        font-size: 13.3px;
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        translate: 0 -30px;
        width: max-content;
        height: max-content;
    }

    .btn-mode1 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(94, 168, 185);
        border-left: 3px solid rgb(137, 210, 227);
        border-top: 3px solid rgb(137, 210, 227);
        border-right: 3px solid rgb(61, 123, 137);
        border-bottom: 3px solid rgb(61, 123, 137);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .btn-mode2 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(205, 122, 122);
        border-left: 3px solid rgb(229, 145, 145);
        border-top: 3px solid rgb(229, 145, 145);
        border-right: 3px solid rgb(154, 86, 86);
        border-bottom: 3px solid rgb(154, 86, 86);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .aktif {
        animation: blink2 .5s ease infinite alternate;
    }

    .pasif {
        color: gray;
        border-left: 3px solid rgb(214, 219, 221);
        border-top: 3px solid rgb(214, 219, 221);
        border-right: 3px solid rgb(91, 91, 91);
        border-bottom: 3px solid rgb(91, 91, 91);
        background-color: rgb(176, 181, 183);
    }

    .windah:hover {
        scale: 1;
    }
}

/* 375px <= width <= 425px */
@media(375px <=width <=425px) {
    body {
        box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -webkit-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -moz-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
    }

    /* info */
    .info {
        translate: 20px 45px;
        width: 25.97px;
        height: 25.97px;
    }

    .info img {
        width: 19.48px;
        height: 19.48px;
    }

    /* hambuger */
    .hamburger {
        translate: -20px 45px;
        padding: .1px;
    }

    .hamburger span {
        display: block;
        width: 16.6px;
        height: 1.6px;
        margin: 1.6px;
        background-color: var(--warna-hamburger);
    }

    /* pause */
    .pause {
        padding: 1px 2px;
        translate: -20px 25px;
    }

    .pause span {
        display: block;
        width: 4.5px;
        height: 13px;
        margin: 2px;
        background-color: var(--warna-hamburger);
    }

    /* pause menu */
    .pause-menu {
        width: 300px;
    }

    .container-pause-el {
        width: 90%;
    }

    /* bar */
    .bar {
        display: none;
    }

    .bar-status {
        position: absolute;
        inset: 0;
        margin: auto;
        translate: 0 -1px;
        width: 100%;
        height: 20px;
        text-align: center;
        color: var(--warna-hitam-dasar);
        font-size: 14px;
        font-weight: bold;
    }

    .bar-shadow {
        display: none;
    }

    .bar-kecil {
        display: block;
    }

    /* logo */
    .logo {
        width: 187.5px;
        height: 62.5px;
    }

    .logo img {
        width: 187.5px;
        height: 62.5px;
        transition: all 0.5s ease;
    }

    .text {
        font-size: 13.3px;
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        translate: 0 -30px;
        width: max-content;
        height: max-content;
    }

    .btn-mode1 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(94, 168, 185);
        border-left: 3px solid rgb(137, 210, 227);
        border-top: 3px solid rgb(137, 210, 227);
        border-right: 3px solid rgb(61, 123, 137);
        border-bottom: 3px solid rgb(61, 123, 137);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .btn-mode2 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(205, 122, 122);
        border-left: 3px solid rgb(229, 145, 145);
        border-top: 3px solid rgb(229, 145, 145);
        border-right: 3px solid rgb(154, 86, 86);
        border-bottom: 3px solid rgb(154, 86, 86);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .aktif {
        animation: blink2 .5s ease infinite alternate;
    }

    .pasif {
        color: gray;
        border-left: 3px solid rgb(214, 219, 221);
        border-top: 3px solid rgb(214, 219, 221);
        border-right: 3px solid rgb(91, 91, 91);
        border-bottom: 3px solid rgb(91, 91, 91);
        background-color: rgb(176, 181, 183);
    }

    .windah:hover {
        scale: 1;
    }
}

/* 320px <= width <= 375px */
@media(320px <=width <=375px) {
    body {
        box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -webkit-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -moz-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
    }

    /* info */
    .info {
        translate: 20px 45px;
        width: 25.97px;
        height: 25.97px;
    }

    .info img {
        width: 19.48px;
        height: 19.48px;
    }

    /* hambuger */
    .hamburger {
        translate: -20px 45px;
        padding: .1px;
    }

    .hamburger span {
        display: block;
        width: 16.6px;
        height: 1.6px;
        margin: 1.6px;
        background-color: var(--warna-hamburger);
    }

    /* pause */
    .pause {
        padding: 1px 2px;
        translate: -20px 25px;
    }

    .pause span {
        display: block;
        width: 4.5px;
        height: 13px;
        margin: 2px;
        background-color: var(--warna-hamburger);
    }

    /* pause menu */
    .pause-menu {
        width: 300px;
    }

    .container-pause-el {
        width: 90%;
    }

    /* bar */
    .bar {
        display: none;
    }

    .bar-status {
        position: absolute;
        inset: 0;
        margin: auto;
        translate: 0 -1px;
        width: 100%;
        height: 20px;
        text-align: center;
        color: var(--warna-hitam-dasar);
        font-size: 14px;
        font-weight: bold;
    }

    .bar-shadow {
        display: none;
    }

    .bar-kecil {
        display: block;
    }

    /* logo */
    .logo {
        width: 187.5px;
        height: 62.5px;
    }

    .logo img {
        width: 187.5px;
        height: 62.5px;
        transition: all 0.5s ease;
    }

    .text {
        font-size: 13.3px;
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        translate: 0 -30px;
        width: max-content;
        height: max-content;
    }

    .btn-mode1 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(94, 168, 185);
        border-left: 3px solid rgb(137, 210, 227);
        border-top: 3px solid rgb(137, 210, 227);
        border-right: 3px solid rgb(61, 123, 137);
        border-bottom: 3px solid rgb(61, 123, 137);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .btn-mode2 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(205, 122, 122);
        border-left: 3px solid rgb(229, 145, 145);
        border-top: 3px solid rgb(229, 145, 145);
        border-right: 3px solid rgb(154, 86, 86);
        border-bottom: 3px solid rgb(154, 86, 86);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .aktif {
        animation: blink2 .5s ease infinite alternate;
    }

    .pasif {
        color: gray;
        border-left: 3px solid rgb(214, 219, 221);
        border-top: 3px solid rgb(214, 219, 221);
        border-right: 3px solid rgb(91, 91, 91);
        border-bottom: 3px solid rgb(91, 91, 91);
        background-color: rgb(176, 181, 183);
    }

    .windah:hover {
        scale: 1;
    }
}

/* 320` */
@media(max-width: 320px) {
    body {
        box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -webkit-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
        -moz-box-shadow: 0px 0px 157px -13px rgba(0, 0, 0, 0.44) inset;
    }

    /* info */
    .info {
        translate: 20px 45px;
        width: 25.97px;
        height: 25.97px;
    }

    .info img {
        width: 19.48px;
        height: 19.48px;
    }

    /* hamburger */
    .hamburger {
        translate: -20px 45px;
        padding: .1px;
    }

    .hamburger span {
        display: block;
        width: 16.6px;
        height: 1.6px;
        margin: 1.6px;
        background-color: var(--warna-hamburger);
    }

    /* pause */
    .pause {
        padding: .5px 1px;
        translate: -15px 30px;
    }

    .pause span {
        display: block;
        width: 3px;
        height: 11px;
        margin: 2px;
        background-color: var(--warna-hamburger);
    }

    /* pause menu */
    .pause-menu {
        width: 300px;
    }

    .container-pause-el {
        width: 90%;
    }

    /* bar */
    .bar {
        display: none;
    }

    .bar-status {
        position: absolute;
        inset: 0;
        margin: auto;
        translate: 0 -1px;
        width: 100%;
        height: 20px;
        text-align: center;
        color: var(--warna-hitam-dasar);
        font-size: 14px;
        font-weight: bold;
    }

    .bar-shadow {
        display: none;
    }

    .bar-kecil {
        display: block;
    }

    /* logo */
    .logo {
        width: 187.5px;
        height: 62.5px;
    }

    .logo img {
        width: 187.5px;
        height: 62.5px;
        transition: all 0.5s ease;
    }

    .text {
        font-size: 13.3px;
    }

    .mode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        translate: 0 -30px;
        width: max-content;
        height: max-content;
    }

    .btn-mode1 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(94, 168, 185);
        border-left: 3px solid rgb(137, 210, 227);
        border-top: 3px solid rgb(137, 210, 227);
        border-right: 3px solid rgb(61, 123, 137);
        border-bottom: 3px solid rgb(61, 123, 137);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .btn-mode2 {
        max-width: max-content;
        max-height: max-content;
        padding: .1rem .5rem;
        font-size: 1rem;
        border-radius: .3rem;
        color: var(--background-color);
        background-color: rgb(205, 122, 122);
        border-left: 3px solid rgb(229, 145, 145);
        border-top: 3px solid rgb(229, 145, 145);
        border-right: 3px solid rgb(154, 86, 86);
        border-bottom: 3px solid rgb(154, 86, 86);
        outline: 2px solid var(--warna-hitam-dasar);
        transition: all 0.2s ease;
    }

    .aktif {
        animation: blink2 .5s ease infinite alternate;
    }

    .pasif {
        color: gray;
        border-left: 3px solid rgb(214, 219, 221);
        border-top: 3px solid rgb(214, 219, 221);
        border-right: 3px solid rgb(91, 91, 91);
        border-bottom: 3px solid rgb(91, 91, 91);
        background-color: rgb(176, 181, 183);
    }

    .windah:hover {
        scale: 1;
    }
}