@font-face {
    font-family: pixelify;
    src: url(Asset/PixelifySans-VariableFont_wght.ttf);

}

:root {
    --font-dasar: "pixelify";
    --background-color: rgb(245, 245, 245);
    --background-color2: rgb(122, 191, 205);
    --border-estetik: 2px rgb(93, 93, 93) solid;
    --warna-list: rgb(206, 206, 206);
    --warna-hitam-dasar: rgb(54, 54, 54);
    --warna-abu-coret: rgb(107, 107, 107);
    --border-button: 2px rgb(30, 30, 30) solid;
    --warna-hamburger: rgb(41, 41, 41);
    --warna-hitung: rgb(77, 77, 77);
    --warna-button: rgb(41, 41, 41);
    --warna-hitam-nama: rgb(29, 29, 29);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-dasar);
    user-select: none;
    -webkit-user-drag: none;
    outline: none;
}

html {
    background-color: rgb(9, 13, 14);
}

body {
    position: relative;
    z-index: -3;
    height: 100vh;
    width: 100%;
    background: url(Asset/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.301);
    transition: all 2s ease;
    overflow: hidden;
}

/* mulai */
.mulai {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(9, 13, 14);
    opacity: 1;
    transition: all 2s ease;
    z-index: 1;
}

.mulai h1 {
    color: var(--background-color);
    font-size: 2.5rem;
    animation: loop 1.5s ease-in-out infinite;
}

.mulai p {
    position: absolute;
    bottom: 3rem;
    color: rgb(148, 148, 148);
}

/* scene awal */
.scene-awal {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: rgb(9, 13, 14);
    opacity: 1;
    transition: all 2s ease;
}

.ketik {
    color: var(--background-color);
    font-size: 2.5rem;
}

#button {
    display: none;
    transition: all 2s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.scene-awal button {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    color: var(--warna-button);
    background-color: rgb(158, 185, 191);
    border-left: 3px solid rgb(202, 237, 245);
    border-top: 3px solid rgb(202, 237, 245);
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    outline: 2px solid rgb(9, 13, 14);
    transition: all 0.2s ease;
    animation: blink2 1s ease infinite alternate;
}

.scene-awal button:hover {
    transform: translateY(-2px);
    color: var(--background-color);
    background-color: rgb(226, 107, 107);
    border-left: 3px solid rgb(246, 132, 132);
    border-top: 3px solid rgb(246, 132, 132);
    border-right: 3px solid rgb(102, 51, 51);
    border-bottom: 3px solid rgb(102, 51, 51);
}

.scene-awal button:active {
    transform: translateY(4px);
    border-left: 3px solid rgb(102, 51, 51);
    border-top: 3px solid rgb(102, 51, 51);
    border-right: 3px solid rgb(246, 132, 132);
    border-bottom: 3px solid rgb(246, 132, 132);
}

/* container */
.container {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

/* show */
.show {
    position: relative;
    width: 100%;
    height: 65vh;
}

/* dialog */
.container-dialog {
    position: relative;
    width: 100%;
    height: 35vh;
    padding: 1.7rem 4rem;
    font-size: 1.5em;
    border: var(--border-estetik);
    background-color: #f0f8ff9b;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    transition: all 2s ease;
}

/* cara */
.cara {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 272px;
}

#j2prime {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    translate: -200px 240px;
    background: transparent;
    transition: all 1s ease;
    z-index: 0;
}

#windah {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    translate: -100px 70px;
    background: transparent;
    transition: all 1s ease;
    z-index: -1;
}

#ledakan {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    translate: 100px -100px;
    background: transparent;
    transition: all 0.2s ease;
}

#fog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    translate: 100px 170px;
    background: transparent;
    transition: all 0.2s ease;
}

#larry {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    translate: 90px 70px;
    background: transparent;
    transition: all 1s ease;
    z-index: 0;
}

#sihir {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    translate: 90px 58px;
    transition: all 1s ease;
    z-index: -2;
    animation: sinar 1.5s ease-in-out infinite;
}

#portal-larry {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    translate: -90px 70px;
    transition: all 1s ease;
    animation: sinar 1.5s ease-in-out infinite;
    z-index: -1000;
}

.aktif {
    filter: brightness(1);
    scale: 1.05;
    animation: bicara 2s ease infinite alternate;
}

.pasif {
    filter: brightness(0.6) grayscale(0.5) opacity(0.85);
    transform: scale(0.95);
    transform: translateY(18px);
}

.hilang {
    opacity: 0;
    pointer-events: none;
}

.selfie {
    filter: brightness(5) contrast(0.9) saturate(1.3) blur(0.3px);
}

.selesai-selfie {
    filter: none;
}

/* nama */
.nama {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3rem;
    padding: 0.3em;
    font-size: 1.5em;
    border: var(--border-estetik);
    color: var(--warna-hitam-nama);
    background-color: rgb(181, 133, 135);
}

/* next */
.next {
    position: absolute;
    bottom: 1em;
    right: 1em;
    animation: loop 1s ease infinite alternate;
}

/* animasi */
/* bicara */
@keyframes bicara {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* loop */
@keyframes loop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* sinar */
@keyframes sinar {
    0% {
        filter: brightness(1.2);
        transform: translateY(0);
    }

    50% {
        filter: brightness(2.7);
        nsform: translateY(10px);
    }

    100% {
        filter: brightness(1.2);
        transform: translateY(0);
    }
}

/* getar */
@keyframes getar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* getar tipis */
@keyframes getar-tipis {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }

    10% {
        transform: translate(-0.5px, -0.5px) rotate(-0.1deg);
    }

    20% {
        transform: translate(-0.8px, 0px) rotate(0.1deg);
    }

    30% {
        transform: translate(0.8px, 0.5px) rotate(0deg);
    }

    40% {
        transform: translate(0.5px, -0.5px) rotate(0.1deg);
    }

    50% {
        transform: translate(-0.5px, 0.8px) rotate(-0.1deg);
    }

    60% {
        transform: translate(-0.8px, 0.3px) rotate(0deg);
    }

    70% {
        transform: translate(0.8px, 0.3px) rotate(-0.1deg);
    }

    80% {
        transform: translate(-0.5px, -0.5px) rotate(0.1deg);
    }

    90% {
        transform: translate(0.5px, 0.8px) rotate(0deg);
    }

    100% {
        transform: translate(0.5px, -0.5px) rotate(-0.1deg);
    }
}

/* tersedot */
@keyframes tersedot {
    0% {
        transform: translate(0, 0) scale(1) rotate(0deg) skew(0deg);
        filter: blur(0px) brightness(1);
        opacity: 1;
    }

    60% {
        transform: translate(50px, 0) scale(0.6) rotate(10deg) skew(10deg);
        filter: blur(2px) brightness(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(1000px, 0) scale(0) rotate(1080deg) skew(30deg);
        filter: blur(20px) brightness(2);
        opacity: 0;
    }
}

/* blink */
@keyframes blink {
    0% {
        color: white;
    }

    100% {
        color: rgb(163, 18, 18);
    }
}

/* blink 2 */
@keyframes blink2 {
    from {
        box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.61);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.61);
        -moz-box-shadow: 0px 0px 200px 79px rgba(205, 122, 122, 0.61);
    }

    to {
        box-shadow: 0px 0px 200px 79px rgba(122, 191, 205, 0.61);
        -webkit-box-shadow: 0px 0px 200px 79px rgba(122, 191, 205, 0.61);
        -moz-box-shadow: 0px 0px 200px 79px rgba(122, 191, 205, 0.61);
    }
}

/* responsif */

/* 1024 */
@media(max-width: 1024px) {

    /* cara */
    .cara {
        width: 200px;
        height: 200px;
    }

    .cara img {
        width: 200px;
        height: 200px;
    }
}

/* 768 */
@media(max-width: 768px) {
    .mulai h1 {
        font-size: 2rem;
    }

    .ketik {
        font-size: 2rem;
    }

    .nama {
        font-size: 1.6rem;
        translate: 0 15px;
    }

    .teks {
        font-size: 1rem;
    }

    .container-dialog {
        padding: 1.7rem 1.2rem;
    }

    .next {
        font-size: 1.2rem;
    }

    /* cara */
    .cara {
        width: 170px;
        height: 170px;
    }

    .cara img {
        width: 170px;
        height: 170px;
    }

    #j2prime {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -100px 240px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #windah {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -10px 95px;
        background: transparent;
        transition: all 1s ease;
        z-index: -1;
    }

    #ledakan {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px -100px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #fog {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 170px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #larry {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 95px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #sihir {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 95px;
        transition: all 1s ease;
        z-index: -2;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -70px 90px;
        transition: all 1s ease;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry img {
        width: 320px;
        height: 320px;
    }

    .container-dialog {
        padding: 1.7rem 2rem;
    }
}

/* 425 */
@media(max-width: 425px) {
    .mulai h1 {
        font-size: 1.5rem;
    }

    .ketik {
        font-size: 1.5rem;
    }

    .nama {
        font-size: 1.5rem;
        translate: 0 20px;
    }

    .teks {
        font-size: .9rem;
    }

    .container-dialog {
        padding: 1.7rem 1.2rem;
    }

    .next {
        font-size: 1rem;
    }

    /* cara */
    .cara {
        width: 150px;
        height: 150px;
    }

    .cara img {
        width: 150px;
        height: 150px;
    }

    #j2prime {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -80px 240px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #windah {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -10px 100px;
        background: transparent;
        transition: all 1s ease;
        z-index: -1;
    }

    #ledakan {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px -100px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #fog {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 170px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #larry {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 100px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #sihir {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 100px;
        transition: all 1s ease;
        z-index: -2;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -83px 90px;
        transition: all 1s ease;
        animation: sinar 1.5s ease-in-out infinite;
    }

    .next {
        font-size: 1rem;
    }
}

/* 375 */
@media(max-width: 375px) {
    .mulai h1 {
        font-size: 1.8rem;
    }

    .ketik {
        font-size: 1.8rem;
    }

    /* cara */
    .cara {
        width: 110px;
        height: 110px;
    }

    .cara img {
        width: 110px;
        height: 110px;
    }

    #j2prime {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -60px 240px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #windah {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -10px 120px;
        background: transparent;
        transition: all 1s ease;
        z-index: -1;
    }

    #ledakan {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px -100px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #fog {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 170px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #larry {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 120px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #sihir {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 120px;
        transition: all 1s ease;
        z-index: -2;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -76px 120px;
        transition: all 1s ease;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry img {
        width: 272px;
        height: 272px;
    }

    .nama {
        font-size: 1.3rem;
        translate: 0 20px;
    }

    .teks {
        font-size: .8rem;
    }

    .container-dialog {
        padding: 1.7rem 1.2rem;
    }

    .next {
        font-size: .8rem;
    }
}

/* 320 */
@media(max-width: 320px) {
    .mulai h1 {
        font-size: 1.2rem;
    }

    .ketik {
        font-size: 1.4rem;
    }

    /* cara */
    .cara {
        width: 110px;
        height: 110px;
    }

    .cara img {
        width: 110px;
        height: 110px;
    }

    #j2prime {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -60px 240px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #windah {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -10px 120px;
        background: transparent;
        transition: all 1s ease;
        z-index: -1;
    }

    #ledakan {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px -100px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #fog {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 170px;
        background: transparent;
        transition: all 0.2s ease;
    }

    #larry {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 120px;
        background: transparent;
        transition: all 1s ease;
        z-index: 0;
    }

    #sihir {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        translate: 10px 120px;
        transition: all 1s ease;
        z-index: -2;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        translate: -76px 120px;
        transition: all 1s ease;
        animation: sinar 1.5s ease-in-out infinite;
    }

    #portal-larry img {
        width: 272px;
        height: 272px;
    }

    .nama {
        font-size: 1.3rem;
        translate: 0 25px;
    }

    .teks {
        font-size: .7rem;
    }

    .container-dialog {
        padding: 1.7rem 1.2rem;
    }

    .next {
        font-size: .6rem;
    }
}